# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log
staticfiles/
media/

# Migrations
*/migrations/*
!*/migrations/__init__.py

# Environments
.env
.venv/
venv/

# IDEs
.vscode/
.idea/
