# Ambientes virtuales de Python
venv/
env/
ENV/
.venv/
.env/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Directorio Backups
.backup/
.backup-*/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
#static/

# IDE - VS Code
.vscode/
*.code-workspace

# Sistema operativo
.DS_Store
Thumbs.db
Desktop.ini

# Archivos de entorno
.env
*.env